
<div class="container_crear_pedido">

    <div class="imagen">
        <img src="../../assets/alignB.jpg">

        
    <!---
         <div class="botones_container">
            <div class="boton"></div>
            <div class="boton"></div>
            <div class="boton"></div>
        </div>
    -->
       
      
    </div>


    <div class="formulario">

        <div class="row1">
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
        </div>

        <div class="row1">
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
        </div>

        <div class="row1">
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
            <div class="input_text">
                <p>Estilo</p>
                <input type="text" #estilo>
            </div>
        </div>


        <div class="row2">
            <div class="longer_input">
                <p>Observaciones</p>
                <input type="text" #estilo>
            </div>
        
        </div>

        

        <div class="row2">
            <div class="longer_input">
                <p>Observaciones</p>
                <input type="text" #estilo>
            </div>
        
        </div>

        

        <div class="row2">
            <div class="longer_input">
                <p>Observaciones</p>
                <input type="text" #estilo>
            </div>
        
        </div>
       

    
    </div>
</div>
