

<div class="botones">
    <p-button label="Nuevo pedido" [routerLink]="['/crear-pedido']"/>

    <p-button label="Exportar a excel" severity="success" />

</div>

<div class="tabla">

    <p-table [value]="productos"
     [tableStyle]="{ 'min-width': '50rem' }"
     [paginator]="true"
     [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Pares</th>
                <th>Subtotal</th>
                <th>Fecha de registro</th>
                <th>Estatus</th>
                <th>Nombre pedido</th>
                <th></th>
            </tr>
        </ng-template>

    
            <ng-template pTemplate="body" let-producto class="filas">
                <tr>
                    <td>{{ producto.ids}}</td>
                    <td>{{ producto.nombre_cliente }}</td>
                    <td>{{ producto.pares }}</td>
                    <td>{{ producto.subtotal }}</td>
                    <td>{{ producto.fecha_registro }}</td>
                    <td>{{ producto.estatus }}</td>
                    <td>{{producto.nombre_pedido}}</td>
                    <td class="button_actions">
                        <a ><i class="pi pi-plus-circle"></i></a>
                        <a href="#"><i class="pi pi-pencil"></i></a>
                        <a href="#"><i class="pi pi-trash"></i></a>
                    </td>
                </tr>
            </ng-template>
    
    </p-table>

</div>