
.container{
    display: flex;

    .navbar{
        width: 15%;
    }


    .content{
        width: 100%;
        ::ng-deep{
        
            .boton{
                width: 100px;
            }
    
        }
    }
  
}

